<!DOCTYPE html>
<html>
  <head>
    <title>dictionary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="main-container">
    <div class="left-content">
      <%= image_tag 'moon_cake.jpg', size: '1000x1100', alt: "moon_cake" %>
    </div>
  </div>
    <%= yield %>
    <footer>
      <p>
        chiharu's app
      </p>
    </footer>
  </body>
</html>
