<!DOCTYPE html>
<html>
  <head>
    <title>dictionary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<body>
  <header class="header">
      <h1 class="grid-6">WordList</h1>
      <% if user_signed_in? %>
      <div class="grid-6">
      <span><%= link_to "#{current_user.nickname}の単語帳", root_path, class:"post" %>
          <%= link_to "単語登録", new_word_path, class: "post" %>    
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "post" %>
      </span>
      </div>
    <% else %>
      <div class="grid-6">
        <%= link_to "ログイン", new_user_session_path, class: "post" %>
        <%= link_to "新規登録", new_user_registration_path, class: "post" %>
      </div>
    <% end %>
    </div>
  </header>
    <%= yield %>
    <footer>
      <p>
      </p>
    </footer>
  </body>
</html>
